In [2]:
import pandas as pd
import numpy as np

In [3]:
df_events_train = pd.read_csv('./vi_data/events_train.csv')
df_purchases_train = pd.read_csv('./vi_data/purchases_train.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Data preview

In [4]:
df_events_train.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,204685f9-00f0-4a36-bab1-e0b74673c3b1,2019-07-01 00:00:01.101977 UTC,view_item,f130c542-d793-41d0-88f6-d1c52b4fe8f0,Michael Kors Nappa Leather Racer Jacket,NaN,747.49
1,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:01.901589 UTC,view_item,29db8f57-49bd-4108-a0bb-0d245278e999,Puma Woven Shorts Girls,NaN,11.92
2,fac01f48-a03a-41f2-acd5-b5f4e407d9c2,2019-07-01 00:00:08.954928 UTC,view_item,a90bddc4-8eb7-4c99-aa4f-2f2377c246a2,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN,23.85
3,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:09.721589 UTC,view_item,600268e1-a2ba-4b1b-ab57-58c577412af0,Puma Woven Shorts Girls,NaN,11.92
4,bc59a341-040f-41ea-8f33-cc4a02c2d85d,2019-07-01 00:00:13.745257 UTC,view_item,b74e0b38-1efe-4d86-9718-952cc2580212,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN,40.00

In [5]:
df_purchases_train.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,0d1b7397-7d3c-44c0-9efc-d38bf197828b,2019-07-01 00:05:54.308966 UTC,purchase_item,954f9f2c-d3ca-4236-ac9a-4ea7bcf09305,Trendyol Leopard print Bikini bottom,NaN,NaN
1,81ccae7e-e496-4997-a289-4669bf53f33e,2019-07-01 00:20:03.404186 UTC,purchase_item,75b281e5-8a16-42cb-9ae0-9a98db7a2c40,No Fear Reflect Shorts Mens,NaN,NaN
2,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.989935 UTC,purchase_item,0112dec8-47f5-4c2c-9109-571e2dbb6345,Trendyol Multicolor camisole Blouse,NaN,NaN
3,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.991935 UTC,purchase_item,0fa25a2d-2aa1-4397-82f1-5a64f3b1272d,Trendyol White High Waist Skinny Jeans,NaN,NaN
4,647d269f-b18f-4558-8653-93369d862ec9,2019-07-01 00:52:53.083698 UTC,purchase_item,81c01216-55a9-4588-a722-bccf0bf35fd5,Firetrap Lazer Polo Shirt,NaN,NaN

## Data info

In [6]:
df_events_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14614385 entries, 0 to 14614384
Data columns (total 7 columns):
customer_id      object
timestamp        object
event_type       object
product_id       object
title            object
category_name    object
price            float64
dtypes: float64(1), object(6)
memory usage: 780.5+ MB

In [7]:
df_purchases_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188712 entries, 0 to 188711
Data columns (total 7 columns):
customer_id      188712 non-null object
timestamp        188712 non-null object
event_type       188712 non-null object
product_id       188712 non-null object
title            188684 non-null object
category_name    143814 non-null object
price            143826 non-null float64
dtypes: float64(1), object(6)
memory usage: 10.1+ MB

In [8]:
# sort data by date (timestamp)
df_events_train.sort_values(by=['timestamp'], inplace=True, ascending=False)

In [9]:
df_events_train.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
14614384,9178895a-a747-4f40-953f-990ba97ff83a,2019-08-31 23:59:59.536067 UTC,view_item,785c2d4e-ef0f-4562-a690-96836eaf3b75,Nike Mercurial Vapor Academy Mens FG Football ...,Sports>Football>Football Footwear>Grass Footba...,93.15
14614383,a099b544-64d5-451b-a424-7130ff97f765,2019-08-31 23:59:59.197457 UTC,view_item,60a2b46b-722b-4433-a65f-857e82a0ddab,Lee Cooper Riv Boots Mens,Men>Men Footwear>Ankle shoes>Casual,24.15
14614382,c09ad440-ba4e-4748-94e8-8bb3127a7a6f,2019-08-31 23:59:56.68595 UTC,view_item,0ca17844-38c2-4382-a506-1a53b223f655,USA Pro Quilted Gilet Junior Girls,Children>Girl's Clothing>Jackets>Vests,28.12
14614381,72b72580-2b3f-42cd-97d0-3d24816b33ba,2019-08-31 23:59:55.097722 UTC,view_item,804fae53-29a4-46f2-bd3d-24c04bbc34df,Women's Bag WOOX Mendica,Accessories >Backpacks and Bags>Handbags,33.53
14614380,a4b26314-669e-46dd-92a5-9f1258eb5c81,2019-08-31 23:59:54.598017 UTC,view_item,d451d3e2-eabe-4f21-a4ff-289c756d87a1,Adidas Club T Shirt Mens,Men>Men Clothing>T-Shirts & Polo shirts>Short ...,38.25

In [10]:
df_purchases_train['category_name']

0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
                                ...
188707    Women>Women's Clothing>Swimmsuits & bikins>One...
188708    Women>Women's Clothing>Swimmsuits & bikins>One...
188709    Women>Women's Clothing>Swimmsuits & bikins>One...
188710    Women>Women's Clothing>Swimmsuits & bikins>One...
188711    Women>Women's Clothing>Swimmsuits & bikins>One...
Name: category_name, Length: 188712, dtype: object